body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:"Inter",sans-serif;
}
.main {
    display:flex;
    gap: 1rem;
    height: 100vh;

}
.left-panel {
    width: 20%;
    height: 100%;
    background-color:lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.right-panel {
    width: 80%;
    height: 100%;
    background-color:whitesmoke;=
    overflow-y: scroll;
    padding: 1rem;

}
h3 {
    color: blue;
    font-size: 32px;
}
p {
    font-size: 24px;
    

}
.skill-icons {
    display: flex;
    gap: 50px;
}
.contact {
    font-size: 24px;
    padding-bottom: 5rex;
}
    

.profile {
    height:7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 100%;
}
.icons {
    list-style-type: none;
    display:flex;
    gap: 0.5rem;
    align-items: center;
}
.icons.img {
    height: 3rem;
    width: 3rem;
}

.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }